<ion-view title="பயிற்சி 1" id="page18">
  <ion-content padding="true" style="background: url(img/YFjEX7rTVSQC3srEPu2Q_abd4ec4e18053809e2e2ced0c92df545.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="1-button28" style="font-weight:600;" class="button button-assertive button-small button-block">ஒருமை மற்றும் பன்மைப் படங்களை அடையாளம் காண்க</button>
    <ion-list id="1-list2">
      <ion-item class="item-thumbnail-left" id="1-list-item16">
        <img src="img/sXxj2FhmSmiJk3VsaIkl_pcqKd9nRi.png">
        <h2>எண்</h2>
        <p>ஒருமை / பன்மை</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="1-list-item1">
        <img src="img/BdYhLzBrTdqm90QXW3uX_download.jpg">
        <h2>எண்</h2>
        <p>ஒருமை / பன்மை</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="1-list-item2">
        <img src="img/l2x7vBGSUujR30IDtVtA_fd.jpg">
        <h2>எண்</h2>
        <p>ஒருமை / பன்மை</p>
      </ion-item>
    </ion-list>
    <ion-list id="1-list3">
      <ion-item class="item-thumbnail-left" id="1-list-item3">
        <img src="img/qAOtzoOsSHyOQDAb8EKQ_download1.jpg">
        <h2>எண்</h2>
        <p>ஒருமை / பன்மை</p>
      </ion-item>
    </ion-list>
    <ion-list id="1-list4">
      <ion-item class="item-thumbnail-left" id="1-list-item4">
        <img src="img/OBOQTgx4QOyNUcee3d62_images2.jpg">
        <h2>எண்</h2>
        <p>ஒருமை / பன்மை </p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <a style="display:block;" ui-sref="12()">
        <img src="img/cNme6b9STkybUpw6Lp5l_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>