<ion-view title="பயிற்சி 2" id="page19">
  <ion-content padding="true" style="background: url(img/DUNB50u4SUChTWB9l4YU_e7aff601e721b6f0bb424c9bf81f672d.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="2-button36" style="font-weight:600;" class="button button-calm button-small button-block">கொடுக்கப்பட்டுள்ள சொற்களை ஒருமை, பன்மை என வகைப்படுத்தி எழுதுக.</button>
    <div id="2-button-bar4" class="button-bar">
      <button id="2-button49" style="font-weight:600;" class="button button-dark button-small button-block button-outline">நூல்</button>
      <button id="2-button50" style="font-weight:600;" class="button button-dark button-small button-block button-outline">மாணவன்</button>
    </div>
    <div id="2-button-bar9" class="button-bar">
      <button id="2-button72" style="font-weight:600;" class="button button-dark button-small button-block button-outline">ஆசிரியர்கள்</button>
      <button id="2-button73" style="font-weight:600;" class="button button-dark button-small button-block button-outline">பூனைகள்</button>
    </div>
    <div id="2-button-bar5" class="button-bar">
      <button id="2-button52" style="font-weight:600;" class="button button-dark button-small button-block button-outline">கரடி</button>
      <button id="2-button53" style="font-weight:600;" class="button button-dark button-small button-block button-outline">புலிகள்</button>
    </div>
    <div id="2-button-bar6" class="button-bar">
      <button id="2-button55" style="font-weight:600;" class="button button-dark button-small button-block button-outline">பாட்டி</button>
      <button id="2-button56" style="font-weight:600;" class="button button-dark button-small button-block button-outline">பெண்கள்</button>
    </div>
    <div id="2-button-bar8" class="button-bar">
      <button id="2-button65" class="button button-assertive button-block">ஒருமை</button>
      <button id="2-button66" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">1.</button>
    </div>
    <div id="2-button-bar11" class="button-bar">
      <button id="2-button83" class="button button-light button-block button-clear"></button>
      <button id="2-button84" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">2.</button>
    </div>
    <div id="2-button-bar12" class="button-bar">
      <button id="2-button87" class="button button-light button-block button-clear"></button>
      <button id="2-button88" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">3.</button>
    </div>
    <div id="2-button-bar13" class="button-bar">
      <button id="2-button90" class="button button-light button-block button-clear"></button>
      <button id="2-button91" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">4.</button>
    </div>
    <div id="2-button-bar14" class="button-bar">
      <button id="2-button93" class="button button-assertive button-block">பன்மை</button>
      <button id="2-button94" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">1.</button>
    </div>
    <div id="2-button-bar17" class="button-bar">
      <button id="2-button102" class="button button-light button-block button-clear"></button>
      <button id="2-button103" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">2.</button>
    </div>
    <div id="2-button-bar18" class="button-bar">
      <button id="2-button105" class="button button-light button-block button-clear"></button>
      <button id="2-button106" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">3.</button>
    </div>
    <div id="2-button-bar19" class="button-bar">
      <button id="2-button108" class="button button-light button-block button-clear"></button>
      <button id="2-button109" style="font-weight:600;text-align:left;" class="button button-dark button-block button-outline">4.</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="22()">
        <img src="img/Wdng3MrSRYyXG7OnWxxN_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>