<ion-view title="விடை (பயிற்சி 2)" id="page26">
  <ion-content padding="true" style="background: url(img/DUNB50u4SUChTWB9l4YU_e7aff601e721b6f0bb424c9bf81f672d.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="22-button111" style="font-weight:600;" class="button button-calm button-small button-block">கொடுக்கப்பட்டுள்ள சொற்களை ஒருமை, பன்மை என வகைப்படுத்தி எழுதுக.</button>
    <div id="22-button-bar20" class="button-bar">
      <button id="22-button112" style="font-weight:600;" class="button button-dark button-small button-block button-outline">நூல்</button>
      <button id="22-button113" style="font-weight:600;" class="button button-dark button-small button-block button-outline">மாணவன்</button>
    </div>
    <div id="22-button-bar21" class="button-bar">
      <button id="22-button114" style="font-weight:600;" class="button button-dark button-small button-block button-outline">ஆசிரியர்கள்</button>
      <button id="22-button115" style="font-weight:600;" class="button button-dark button-small button-block button-outline">பூனைகள்</button>
    </div>
    <div id="22-button-bar22" class="button-bar">
      <button id="22-button116" style="font-weight:600;" class="button button-dark button-small button-block button-outline">கரடி</button>
      <button id="22-button117" style="font-weight:600;" class="button button-dark button-small button-block button-outline">புலிகள்</button>
    </div>
    <div id="22-button-bar23" class="button-bar">
      <button id="22-button118" style="font-weight:600;" class="button button-dark button-small button-block button-outline">பாட்டி</button>
      <button id="22-button119" style="font-weight:600;" class="button button-dark button-small button-block button-outline">பெண்கள்</button>
    </div>
    <div id="22-button-bar24" class="button-bar">
      <button id="22-button120" class="button button-assertive button-block">ஒருமை</button>
      <button id="22-button121" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">1. நூல்</button>
    </div>
    <div id="22-button-bar25" class="button-bar">
      <button id="22-button122" class="button button-light button-block button-clear"></button>
      <button id="22-button123" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">2. கரடி</button>
    </div>
    <div id="22-button-bar26" class="button-bar">
      <button id="22-button124" class="button button-light button-block button-clear"></button>
      <button id="22-button125" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">3. மாணவன்</button>
    </div>
    <div id="22-button-bar27" class="button-bar">
      <button id="22-button126" class="button button-light button-block button-clear"></button>
      <button id="22-button127" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">4. பாட்டி</button>
    </div>
    <div id="22-button-bar28" class="button-bar">
      <button id="22-button128" class="button button-assertive button-block">பன்மை</button>
      <button id="22-button129" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">1. ஆசிரியர்கள்</button>
    </div>
    <div id="22-button-bar29" class="button-bar">
      <button id="22-button130" class="button button-light button-block button-clear"></button>
      <button id="22-button131" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">2. பூனைகள்</button>
    </div>
    <div id="22-button-bar30" class="button-bar">
      <button id="22-button132" class="button button-light button-block button-clear"></button>
      <button id="22-button133" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">3. புலிகள்</button>
    </div>
    <div id="22-button-bar31" class="button-bar">
      <button id="22-button134" class="button button-light button-block button-clear"></button>
      <button id="22-button135" style="font-weight:600;text-align:left;" class="button button-dark button-small button-block button-outline">4. பெண்கள்</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="page21()">
        <img src="img/Wdng3MrSRYyXG7OnWxxN_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>