<ion-view title="பயிற்சி 3" id="page20">
  <ion-content padding="true" style="background: url(img/2OKHeGTxRUmuYbVp83xL_CoolUnfoldedCockatiel-size_restricted.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="3-button136" style="font-weight:600;" class="button button-energized button-small button-block">படத்திற்கேற்ற சொல்லைத் தேர்ந்தெடுத்து எழுதுக.</button>
    <ion-list id="3-list12">
      <ion-item class="item-thumbnail-left" id="3-list-item29">
        <img src="img/tCD3zq6dSwGmXbyR6nMp_800px_COLOURBOX24910385.jpg">
        <h2>விடை :</h2>
      </ion-item>
    </ion-list>
    <div id="3-button-bar32" class="button-bar">
      <button id="3-button140" class="button button-dark button-small button-block">ஆசிரியர்</button>
      <button id="3-button141" class="button button-dark button-small button-block">ஆசிரியர்கள்</button>
    </div>
    <ion-list id="3-list9">
      <ion-item class="item-thumbnail-left" id="3-list-item5">
        <img src="img/LB9VIvfYSJlbuAohCtkw_800px_COLOURBOX8335550.jpg">
        <h2>விடை :</h2>
      </ion-item>
    </ion-list>
    <div id="3-button-bar10" class="button-bar">
      <button id="3-button98" class="button button-balanced button-small button-block">மருத்துவர்</button>
      <button id="3-button99" class="button button-balanced button-small button-block">மருத்துவர்கள்</button>
    </div>
    <ion-list id="3-list10">
      <ion-item class="item-thumbnail-left" id="3-list-item6">
        <img src="img/WeF2kEucSquSZJ7J8ryS_14343608-illustration-featuring-a-girl-carrying-a-backpack.jpg">
        <h2>விடை :</h2>
      </ion-item>
    </ion-list>
    <div id="3-button-bar15" class="button-bar">
      <button id="3-button110" class="button button-positive button-small button-block">சிறுமி</button>
      <button id="3-button137" class="button button-positive button-small button-block">சிறுமிகள்</button>
    </div>
    <ion-list id="3-list14">
      <ion-item class="item-thumbnail-left" id="3-list-item7">
        <img src="img/dttPOrGYQPaEQItFea8A_ELEPHANT.jpg">
        <h2>விடை :</h2>
      </ion-item>
    </ion-list>
    <div id="3-button-bar33" class="button-bar">
      <button id="3-button147" class="button button-energized button-small button-block">யானை</button>
      <button id="3-button148" class="button button-energized button-small button-block">யானைகள்</button>
    </div>
    <ion-list id="3-list15">
      <ion-item class="item-thumbnail-left" id="3-list-item10">
        <img src="img/cijZdHzNSEiZpOf6v7QG_download44.jpg">
        <h2>விடை :</h2>
      </ion-item>
    </ion-list>
    <div id="3-button-bar34" class="button-bar">
      <button id="3-button156" class="button button-assertive button-small button-block">குடை</button>
      <button id="3-button157" class="button button-assertive button-small button-block">குடைகள்</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="32()">
        <img src="img/hd9EoUctSxiXwQamewfG_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>