<ion-view title="விடை (பயிற்சி 3)" id="page27">
  <ion-content padding="true" style="background: url(img/iDfxXhLXRHSxWIRzJ0oh_CoolUnfoldedCockatiel-size_restricted.gif) no-repeat center;background-size:cover;" class="has-header">
    <button id="32-button159" style="font-weight:600;" class="button button-energized button-small button-block">படத்திற்கேற்ற சொல்லைத் தேர்ந்தெடுத்து எழுதுக.</button>
    <ion-list id="32-list16">
      <ion-item class="item-thumbnail-left" id="32-list-item11">
        <img src="img/tCD3zq6dSwGmXbyR6nMp_800px_COLOURBOX24910385.jpg">
        <h2>விடை : ஆசிரியர்</h2>
      </ion-item>
    </ion-list>
    <div id="32-button-bar35" class="button-bar">
      <button id="32-button160" class="button button-dark button-small button-block">ஆசிரியர்</button>
      <button id="32-button161" class="button button-dark button-small button-block">ஆசிரியர்கள்</button>
    </div>
    <ion-list id="32-list17">
      <ion-item class="item-thumbnail-left" id="32-list-item12">
        <img src="img/LB9VIvfYSJlbuAohCtkw_800px_COLOURBOX8335550.jpg">
        <h2>விடை : மருத்துவர்கள்</h2>
      </ion-item>
    </ion-list>
    <div id="32-button-bar36" class="button-bar">
      <button id="32-button162" class="button button-balanced button-small button-block">மருத்துவர்</button>
      <button id="32-button163" class="button button-balanced button-small button-block">மருத்துவர்கள்</button>
    </div>
    <ion-list id="32-list18">
      <ion-item class="item-thumbnail-left" id="32-list-item13">
        <img src="img/WeF2kEucSquSZJ7J8ryS_14343608-illustration-featuring-a-girl-carrying-a-backpack.jpg">
        <h2>விடை : சிறுமி</h2>
      </ion-item>
    </ion-list>
    <div id="32-button-bar37" class="button-bar">
      <button id="32-button164" class="button button-positive button-small button-block">சிறுமி</button>
      <button id="32-button165" class="button button-positive button-small button-block">சிறுமிகள்</button>
    </div>
    <ion-list id="32-list19">
      <ion-item class="item-thumbnail-left" id="32-list-item14">
        <img src="img/dttPOrGYQPaEQItFea8A_ELEPHANT.jpg">
        <h2>விடை : யானை</h2>
      </ion-item>
    </ion-list>
    <div id="32-button-bar38" class="button-bar">
      <button id="32-button166" class="button button-energized button-small button-block">யானை</button>
      <button id="32-button167" class="button button-energized button-small button-block">யானைகள்</button>
    </div>
    <ion-list id="32-list20">
      <ion-item class="item-thumbnail-left" id="32-list-item15">
        <img src="img/ZuvXAAxHRjC6sDfPNXPK_download44.jpg">
        <h2>விடை : குடை</h2>
      </ion-item>
    </ion-list>
    <div id="32-button-bar40" class="button-bar">
      <button id="32-button170" class="button button-assertive button-small button-block">குடை</button>
      <button id="32-button171" class="button button-assertive button-small button-block">குடைகள்</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="page21()">
        <img src="img/hd9EoUctSxiXwQamewfG_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>