<ion-view title="முடிவு" id="page22">
  <ion-content padding="true" style="background: url(img/6rwbO8n3RemSZUVgeoDm_multicolor-wallpapers-25263-3124785.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 113.984px;"></div>
    <button id="page22-button173" style="font-weight:600;" class="button button-dark button-large button-block">நீங்கள் வெற்றி பெற்றுவிட்டீர்கள் !</button>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div>
      <img src="img/uQgq4oHTm2FJxPyingGS_GlitteringPalatableDromaeosaur-size_restricted.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>