<ion-view title="பன்மை" id="page14">
  <ion-content padding="true" style="background: url(img/O6G7vpR3R9F9CojRD95v_76YM.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <h3 id="page14-heading8" style="color:#0850FF;font-weight:600;text-align:center;">விளக்கம்</h3>
    <button id="page14-button15" class="button button-energized button-block">ஒன்றுக்கு மேற்பட்ட பொருள்களைக் குறிப்பது.</button>
    <div class="spacer" style="width: 300px; height: 17px;"></div>
    <h3 id="page14-heading9" style="color:#1273FD;font-weight:600;text-align:center;">எடுத்துக்காட்டு</h3>
    <a ui-sref="page15()" id="page14-button16" style="font-weight:600;" class="button button-light button-block button-clear">மாடுகள்</a>
    <a ui-sref="page16()" id="page14-button17" style="font-weight:600;" class="button button-light button-block button-clear">நாய்கள்</a>
    <a ui-sref="page17()" id="page14-button18" style="font-weight:600;" class="button button-light button-block button-clear">குழந்தைகள்</a>
    <a ui-sref="page24()" id="page14-button34" style="font-weight:600;" class="button button-light button-block button-clear">மாணவர்கள்</a>
    <div>
      <a style="display:block;" ui-sref="page2()">
        <img src="img/6pS9pUkQDSNnVoNPdgfG_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>