<ion-view title="ஒருமையும்  பன்மையும் !" id="page2">
  <ion-content padding="true" style="background: url(img/dVCrQqKTATQz9AJM4VgD_CheerfulBigheartedBlacknorwegianelkhound-size_restricted.gif) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page6()" id="page2-button3" style="font-weight:600;" class="button button-energized button-block button-clear">ஒருமை</a>
    <a ui-sref="page14()" id="page2-button4" style="font-weight:600;" class="button button-assertive button-block button-clear">பன்மை</a>
    <a ui-sref="page11()" id="page2-button11" style="font-weight:600;" class="button button-dark button-block button-clear">காணொளி</a>
    <a ui-sref="page30()" id="page2-button142" style="font-weight:600;" class="button button-balanced button-block button-icon">நடவடிக்கை</a>
    <a ui-sref="page21()" id="page2-button23" style="font-weight:600;" class="button button-royal button-block button-clear">பயிற்சிகள்</a>
    <div>
      <img src="img/VjO5KEPVS16XbKoZ5qNC_dora.gif" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>