<ion-view title="குழந்தை " id="page10">
  <ion-content padding="true" style="background: url(img/HhzSNriBQlOsgAdkziJK_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 53.9792px;"></div>
    <div>
      <img src="img/tiBSL7JOQnatOOffoglb_WarpedCreamyGoldfinch-size_restricted.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 29.9688px;"></div>
    <button id="page10-button14" class="button button-positive button-block">குழந்தை</button>
    <div class="spacer" style="width: 300px; height: 136px;"></div>
    <div>
      <a style="display:block;" ui-sref="page6()">
        <img src="img/N2hpBBg9QlyTgmcyCrkw_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>