<ion-view title="பயிற்சிகள்" id="page21">
  <ion-content padding="true" style="background: url(img/rpty3oyYTNeBIWgi4x3L_113a26b3f29e65a04248b1eb17954a4b.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="1()" id="page21-button24" style="font-weight:600;" class="button button-royal button-block button-icon">பயிற்சி 1</a>
    <a ui-sref="2()" id="page21-button25" style="font-weight:600;" class="button button-positive button-block button-icon">பயிற்சி 2</a>
    <a ui-sref="3()" id="page21-button26" style="font-weight:600;" class="button button-calm button-block button-icon">பயிற்சி 3</a>
    <div>
      <a style="display:block;" ui-sref="page22()">
        <img src="img/UIIe5x3dQXSKjLRuZntB_student_writing.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>