<ion-view title="வணக்கம்" id="page12">
  <ion-content padding="true" style="background: url(img/hjkQ76HSOm6tXk7jrcag_ba-awesome-colorful-fireworks-animated-gif-image-s.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 45.9844px;"></div>
    <button id="page12-button30" style="font-weight:600;color:#101010;font-size:-1px;" class="button button-calm button-block">வணக்கம் மாணவர்களே !</button>
    <a ui-sref="page28()" id="page12-button100" style="font-weight:600;" class="button button-calm button-block">இன்றைய பாடத்திற்குச் சொல்வோமா?</a>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <div>
      <img src="img/Q5Cvvpi2Rwef2duLUPGs_giphy1.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>