<ion-view title="நாய்கள்" id="page16">
  <ion-content padding="true" style="background: url(img/6QUCkTmdRtmYtHm2g1F3_DD18-Wallpaper-L2-Botanical-200x200.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <img src="img/C5e8nDchQUiIc6pMJZ6z_8iAb96xBT.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <button id="page16-button20" class="button button-positive button-block">நாய்கள்</button>
    <div class="spacer" style="width: 300px; height: 121.984px;"></div>
    <div>
      <a style="display:block;" ui-sref="page14()">
        <img src="img/PfNY8cYYQbO0ub3CYOdw_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>