<ion-view title="நாய்" id="page9">
  <ion-content padding="true" style="background: url(img/PSAk0JiPRRW1PEJnrn9p_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 29.9844px;"></div>
    <div>
      <img src="img/xzNAo5jRgyZ4AHeNnn4w_animated-dog-image-0011.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 11.9688px;"></div>
    <button id="page9-button13" class="button button-positive button-block">நாய்</button>
    <div class="spacer" style="width: 300px; height: 38px;"></div>
    <div>
      <a style="display:block;" ui-sref="page6()">
        <img src="img/OaVEWy9bSUegl194b7qS_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>