<ion-view title="நடவடிக்கை " id="page30">
  <ion-content padding="true" style="background: url(img/V1vXMvUFT3CplREkCQIE_depositphotos_3752696-stock-illustration-abstract-coloured-background.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <button id="page30-button144" class="button button-positive button-small button-block">படத்தில் காணப்படும் ஒருமை, பன்மைச் சொற்களைப் பட்டியலிடுக.</button>
    <div class="spacer" style="width: 300px; height: 24px;"></div>
    <div>
      <img src="img/upMRm2PaSnSEKRF5YmWi_52577978-funny-farm-scene-with-animals-and-farmers-cartoon-and-vector-illustration.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 36.9931px;"></div>
    <div>
      <a style="display:block;" ui-sref="page31()">
        <img src="img/RmFpBimvQbmE2M5wEIkb_tenor1.gif" style="display: block; width: 40%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>