<ion-view title="பீடிகை" id="page28">
  <ion-content padding="true" style="background: url(img/iBc3xB20Tei7Nh0vpZrq_NheW.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <a style="display:block;" href="mailto:">
        <img src="img/B3l3CNGbQce2n3PVEOqq_download31.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <div>
      <img src="img/PL6sp1lzT6X28ocakgWC_images8.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <button id="page28-button107" class="button button-dark button-block">இந்த இரண்டு படத்திற்கும் உள்ள வேறுபாடு என்ன?</button>
    <div>
      <a style="display:block;" ui-sref="page29()">
        <img src="img/x6K9syTNGqjk1AXczNwA_tenor.gif" style="display: block; width: 50%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>