<ion-view title="எண்களை அறிவோம் !" id="page13">
  <ion-content padding="true" style="background: url(img/BXbqyLSEQGaOf0hWT4rI_numbers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 75.9896px;"></div>
    <div>
      <img src="img/QgUNnYalQ8uUi9Nc6vSU_giphy2.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 22.9861px;"></div>
    <a ui-sref="page2()" id="page13-button29" style="font-weight:600;" class="button button-dark button-block">எண்களை அறிவோம் !</a>
  </ion-content>
</ion-view>