<ion-view title="மாடுகள்" id="page15">
  <ion-content padding="true" style="background: url(img/mSYnd3AGSpCNfJyUdDY8_DD18-Wallpaper-L2-Botanical-200x200.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 39px;"></div>
    <div>
      <img src="img/jrlY9n1bRGqJIKhM9wRd_giphy1.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <button id="page15-button19" class="button button-positive button-block">மாடுகள்</button>
    <div class="spacer" style="width: 300px; height: 159px;"></div>
    <div>
      <a style="display:block;" ui-sref="page14()">
        <img src="img/gHvAw4LQ52U7dXhrEjWt_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>