<ion-view title="தலைப்பு அறிமுகம்" id="page29">
  <ion-content padding="true" style="background: url(img/ClgmSHSrWGPfWFzqP7qg_YD9y.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 39px;"></div>
    <button id="page29-button138" class="button button-assertive button-small button-block">முதல் படத்தில் ஒரு குரங்கும் இரண்டாம் படத்தில் இரண்டு குரங்குகளும் உள்ளன.</button>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    <button id="page29-button139" class="button button-positive button-small button-block">மாணவர்களே, இன்று நம்முடைய பாடத் தலைப்பை உங்களால் கூற முடியுமா?</button>
    <div>
      <a style="display:block;" ui-sref="page13()">
        <img src="img/zvDku5arQEmDAvu6MOlP_da4f46512233232861d3cada1978c230.gif" style="display: block; width: 50%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>