<ion-view title="ஒருமை" id="page6">
  <ion-content padding="true" style="background: url(img/7TjOgdQzRzSjb9AczsIs_76YM.gif) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <h3 id="page6-heading4" style="color:#1CA6FF;font-weight:600;text-align:center;">விளக்கம்</h3>
    <button id="page6-button7" class="button button-assertive button-block">ஒரு பொருளை மட்டும் குறிப்பது.</button>
    <div class="spacer" style="width: 300px; height: 13.9861px;"></div>
    <h3 id="page6-heading5" style="color:#1691EF;font-weight:600;text-align:center;">எடுத்துக்காட்டு</h3>
    <a ui-sref="page7()" id="page6-button8" style="font-weight:600;" class="button button-light button-block button-clear">மாடு</a>
    <a ui-sref="page9()" id="page6-button9" style="font-weight:600;" class="button button-light button-block button-clear">நாய்</a>
    <a ui-sref="page10()" id="page6-button10" style="font-weight:600;" class="button button-light button-block button-clear">குழந்தை</a>
    <a ui-sref="page23()" id="page6-button31" style="font-weight:600;" class="button button-light button-block button-clear">மாணவன்</a>
    <div>
      <a style="display:block;" ui-sref="page2()">
        <img src="img/iAdEyCXRuCRFjicP5Nca_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>