<ion-view title="விடை (நடவடிக்கை) " id="page31">
  <ion-content padding="true" style="background: url(img/GozOkt0WSQ63M7KGfdLU_3057434300.png) no-repeat center;background-size:cover;" class="has-header">
    <button id="page31-button145" style="font-weight:600;" class="button button-energized button-block">விடை</button>
    <button id="page31-button146" style="font-weight:600;" class="button button-dark button-large button-block button-clear">ஒருமை</button>
    <div id="page31-button-bar16" class="button-bar">
      <button id="page31-button152" style="font-weight:600;" class="button button-assertive button-block button-outline">வீடு</button>
      <button id="page31-button153" style="font-weight:600;" class="button button-assertive button-block button-outline">சூரியன்</button>
    </div>
    <div id="page31-button-bar39" class="button-bar">
      <button id="page31-button158" style="font-weight:600;" class="button button-assertive button-block button-outline">நாய்</button>
      <button id="page31-button168" style="font-weight:600;" class="button button-assertive button-block button-outline">கூடை</button>
    </div>
    <button id="page31-button169" style="font-weight:600;" class="button button-dark button-large button-block button-clear">பன்மை</button>
    <div id="page31-button-bar41" class="button-bar">
      <button id="page31-button174" style="font-weight:600;" class="button button-positive button-block button-outline">கோழிகள்</button>
      <button id="page31-button175" style="font-weight:600;" class="button button-positive button-block button-outline">மாடுகள்</button>
    </div>
    <div id="page31-button-bar42" class="button-bar">
      <button id="page31-button177" style="font-weight:600;" class="button button-positive button-block button-outline">குதிரைகள்</button>
      <button id="page31-button178" style="font-weight:600;" class="button button-positive button-block button-outline">மரங்கள்</button>
    </div>
    <div>
      <a style="display:block;" ui-sref="page2()">
        <img src="img/9ffE5CxYQGW3HR44LxHP_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>