<ion-view title="மாடு" id="page7">
  <ion-content padding="true" style="background: url(img/k09pQMJRRWyGXalRUPkW_images.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 25.9931px;"></div>
    <div>
      <img src="img/n0rZ1Ti4TRuRh62SwJdp_cute-cartoon-cow-animation-3.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page7-button12" class="button button-positive button-block">மாடு</button>
    <div class="spacer" style="width: 300px; height: 65px;"></div>
    <div>
      <a style="display:block;" ui-sref="page6()">
        <img src="img/mEWb4WrySvmpu0ZM5tE5_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>