<ion-view title="மாணவர்கள் " id="page24">
  <ion-content padding="true" style="background: url(img/ZQU1hFKqS2ypFp40JY4N_DD18-Wallpaper-L2-Botanical-200x200.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <div>
      <img src="img/JqjpkfJ8S4qJ5Lh7RGBK_L6ae.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 19.9896px;"></div>
    <button id="page24-button33" class="button button-positive button-block">மாணவர்கள்</button>
    <div class="spacer" style="width: 300px; height: 88px;"></div>
    <div>
      <a style="display:block;" ui-sref="page14()">
        <img src="img/9ffE5CxYQGW3HR44LxHP_images.png" style="display: block; width: 10%; height: auto; margin-left: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>