<?xml version='1.0' encoding='utf-8'?>
<widget id="com.infitt.thedutamil" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Thedu Tamil</name>
    <description>
    ‘தேடு தமிழ்’ செயலியானது தேசியப்பள்ளியில் பயிலும் இரண்டாம் ஆண்டு மாணவர்களுக்கு ஒருமை, பன்மைச் சொற்களை அறிந்து எழுதும் திறனை மேம்படுத்தும் நோக்கத்தைக் கொண்டு உருவாக்கப்பட்டுள்ளது. 
    </description>
    <author email="info@otpam.com" href="http://otpam.com">
   OTPAM
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="icon.png" />
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
</widget>
